@import "tailwindcss";

/* Font aliases (clean usage) */
@theme {
  --font-head: var(--font-marcellus);
  --font-body: var(--font-jost);
}

/* Remove scrollbar (your existing code) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

html,body{
    overflow-x: hidden;

}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
